body{
    font-family: 'Pangolin', cursive;
    margin: 0;
}

h1{
    font-size: 40px;
    text-transform: capitalize;
}

p{
    color: #696969;
    text-align: justify;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.name-highlight{
    color:#FB6555;
}

.first-intro{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.first-intro img{
    width: 100%;
}

.first-section{
    background-image: url("../img/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.link-button{
    text-decoration:none;
    padding: 10px 40px;
    background-image: linear-gradient(45deg, #ffa07a, #ff6347);
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    
}

.second-section{
    background-image: url("../img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.ex-single{
    box-shadow: 10px 10px 40px #808080;
    height: 65%;
    border-radius: 6px;
    background: #fff;
}

.ex-single p{
    margin-right: 50px;
}

.experience-area{
    background-image: url("../img/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#ex-1{
    border-left: 7px solid;
    border-image: linear-gradient(#ffa07a, #ff6347);
    border-image-slice: 1;
}

#ex-2{
    border-left: 7px solid;
    border-image: linear-gradient(#0000ff, #00ffff);
    border-image-slice: 1;
}